* {
  scrollbar-color: #5a459c #fff;
}

body a,
body button {
  color: #000;
  outline: none !important;
  text-decoration: none !important;
  transition: all ease 0.5s;
}

.p-100 {
  padding: 40px 40px;
}
@media screen and (max-width: 1024px) {
  .p-100 {
    padding: 60px 30px;
  }
}
@media screen and (max-width: 768px) {
  .p-100 {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 580px) {
  .p-100 {
    padding: 40px 20px;
  }
}
.main-topic {
  color: #5a459c;
  font-weight: 700;
}
.section-bg {
  background-image: url(assets/bg-04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ====Start Header Section===== */
.header_input-container {
  position: relative;
  width: 100%;
}

.input-simple {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #c5cbd5;
  width: 100%;
  padding: 0.5em 2.5em 0.5em 1em;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: auto;
}
.input-simple::placeholder {
  color: #838d99;
}

.input-simple:focus {
  outline: none;
  border: 1px solid #84a2fa;
}

.header_icons p {
  font-size: 0.8rem;
}

/* Media query for tablets and mobile devices */
@media (max-width: 1024px) {
  .header_input-container {
    display: none;
  }

  .header_input-container.active {
    display: block;
  }
}

@media (max-width: 990px) {
  .responsive_logo {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .responsive_logo {
    max-width: 100%;
  }
}

.header_icons svg {
  color: black;
  transition: color 0.3s ease;
}
.header_icons svg:hover {
  color: #5a459c;
}
.wishlist_icon {
  position: relative;
}
.count {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 50%;
  background-color: #ed1690;
}
.bag_icon {
  position: relative;
}
.count_bag {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0px;
  right: -8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 50%;
  background-color: #ed1690;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #5a459c;
}

.nav-link.active1 {
  color: #5a459c;
  font-weight: bold;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 10px;
}

.dropdown-toggle {
  text-decoration: none;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(4px, 24.6667px, 0px);
  top: -10px !important;
  left: -2rem !important;
  width: 250px;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.bottom-bar {
  z-index: 1000000;
}
.nav-box {
  display: flex;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 16px 0px #4444;
  border-radius: 8px;
}

.nav-container {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0%;
  justify-content: space-around;
}

.nav__item {
  display: flex;
  position: relative;
  padding: 2px;
}

.nav__item.active .nav__item-icon {
  margin-top: -26px;
  box-shadow: 0px 0px 16px 0px #4444;
}

.nav__item.active .nav__item-text {
  transform: scale(1);
}

.nav__item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2f3046;
  text-decoration: none;
}

.nav__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  background-color: #fff;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  transition: margin-top 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.nav__item-text {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: transform 250ms ease-in-out;
}

/* ====End Header Section===== */
/* ====Start Login & Sign Up Modal Section===== */
/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

/* Login Modal */
.login-modal .modal-content {
  background: #ffffff;
  border: 2px solid #007bff;
  color: #333;
}

/* Signup Modal */
.signup-modal .modal-content {
  background: #f9f9f9;
  border: 2px solid #28a745;
  color: #333;
}

/* Modal content */
.modal-content {
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: fadeIn 0.5s;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  color: #555;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0 5px;
}

form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn {
  background: #007bff !important;
  color: #fff !important;
}

.signup-btn {
  background: #28a745 !important;
  color: #fff !important;
}

.btn:hover {
  opacity: 0.9;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ====End Login & Sign Up Modal Section===== */

/* =====Hero Section Start====== */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-slider {
  width: 100%;
  height: 80vh;
}

.hero-image-container {
  position: relative;
}
.hero-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.slide-content {
  position: absolute;
  top: 20%;
  left: 5%;
  max-width: 50%;
  text-align: start;
  color: #fff;
  z-index: 2;
}

.slide-content h1 {
  font-size: 3rem;
  margin: 10px 0px;
}

.slide-content p {
  font-size: 1.2rem;
  margin: 20px 0px;
}

.service-btn {
  padding: 15px 25px;
  line-height: 24px;
  text-transform: uppercase;
  background: none;
  color: #ffffff !important;
  font-size: 14px;
  border: 2px solid #ffffff !important;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  text-decoration: none;
}
.quote-btn {
  padding: 16px 25px;
  line-height: 24px;
  text-transform: uppercase;
  background: #fa4dac;
  color: #ffffff !important;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .hero-slider {
    width: 100%;
    height: 80vh;
  }
  .hero-image-container img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
  .slide-content {
    position: absolute;
    top: 10%;
    left: 5%;
    max-width: 100%;
    text-align: start;
    color: #fff;
    z-index: 2;
  }
}
/* =====Hero Section End====== */
/* =====category-card Section Start====== */
.shop-by-category-card {
  text-decoration: none;
  color: #000 !important;
}
.categorie-image-container {
  border-radius: 100%;
  border: none !important;
  overflow: hidden;
}

/* =====category-card Section End====== */

/* =====Shop-card Section Start====== */
.shopcard {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.shopcard-image-container {
  overflow: hidden;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.shopcard-image-container img {
  width: 100%;
  transition: transform 0.5s ease;
}

.shopcard:hover img {
  transform: scale(1.1);
}
.shopcard-content {
  position: absolute;
  max-width: 50%;
  top: 20px;
  left: 20px;
}
.shopnow-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.shonow-icon-container {
  width: 2rem !important;
  height: 2rem !important;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.shonow-icon-container i {
  color: #000 !important;
}
/* =====Shop-card Section End====== */
/* =====HealthConcern-card Section Start====== */

.swiper-slide {
  background-color: transparent !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.HealthConcern-card {
  text-decoration: none;
  color: #000 !important;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  background-color: transparent !important;
}

.HealthConcern-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.HealthConcern-card h6 {
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

/* =====HealthConcern-card Section End====== */
/* =====Top Rated Section Start====== */
.top-product-card {
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;
}

.top-product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}
.btn-primary {
  background-color: #5a459c;
  border: none;
}

.btn-primary:hover {
  background-color: #ed1690;
}
.wishlist-icon-container {
  background-color: #eeeff0 !important;
}
.wishlist-icon-container i {
  color: #000;
  font-size: 20px;
}

/* Image container */
.product-card-container {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

/* Image styling */
.product-card-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Default visibility */
.card-img-top {
  opacity: 0;
  z-index: 1;
}

.card-img-bottom {
  opacity: 1;
  z-index: 0;
}

/* Hover effect */
.product-card-container:hover .card-img-top {
  opacity: 1;
  transform: scale(1.05);
}

.product-card-container:hover .card-img-bottom {
  opacity: 0;
  transform: scale(1.05);
}
.top-product-card-body {
  text-align: start !important;
}

/* =====Top Rated Section End====== */
/* =====Product Section start====== */
.list-group-item {
  transition: 0.3s;
  border: 1px solid #ddd;
  background: #fff;
}

.list-group-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.search-img-container img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
/* =====ProductSection End====== */
/* ---Footer-Section-Start--- */

.footer-section {
  padding-top: 30px;
  font-weight: 600;
  background-color: #eee;
}
.f-box,
.footer-section .map {
  margin-top: 20px;
}
.f-box h4 {
  margin-bottom: 20px;
  color: #5a459c;
  position: relative;
  font-weight: 600;
}
.f-box p {
  margin: 15px 0px;
  font-size: 17px;
}
.f-box h4::after {
  height: 3px;
  width: 70px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #5a459c;
  content: "";
}
.f-box ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.f-box ul li {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 10px 0px;
}
.f-box ul li a span {
  font-weight: 600;
}
.f-box ul li a:hover {
  color: #5a459c;
}
.f-box ul li span {
  flex: 1;
}
.f-box img {
  width: 120px;
}
.f-box .social-link {
  display: flex;
  align-items: center;
}
.f-box .social-link li a,
.f-box ul li > i {
  display: flex;
  margin-right: 10px;
  align-items: center;
  transition: 0.5s;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #fff;
  color: #5a459c;
  border-radius: 1px;
}
.f-box .social-link li a:hover,
.f-box ul li > i:hover {
  background-color: #5a459c;
  color: #fff;
  border-radius: 5px;
}
.footer-section .map {
  height: 100%;
  box-shadow: 0px 10px 20px 0px #1dbf7316;
}
.footer-section .map iframe {
  height: 100%;
  border-radius: 10px;
}
.footer-section .copy-right {
  text-align: center;
  padding: 10px;
  z-index: 7;
  color: #fff;
  background-color: #5a459c;
  margin-top: 20px;
  position: relative;
}
.footer-section .copy-right p {
  margin-bottom: 0;
}
.footer-section .copy-right p a {
  color: #000;
  font-weight: 600;
}
/* ---Footer-Section-End--- */
/* ---Product-Page-Start--- */
.product-search-btn {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-left-color: #fff;
}
.product-section {
  background-color: #f5f7fa;
}

/* ---Product-Page-End--- */
/* ---Cart-Page-Start--- */
.service_Section {
  position: relative;
  width: 100%;
  height: 200px; /* Adjust height as needed */
  overflow: hidden;
}

.service_Section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_Section_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 32, 76, 0.5);
  display: flex;
  align-items: center;
  justify-content: start;
}

.service_Section_content {
  color: #092a49;
  text-align: start;
  padding-left: 50px;
}

.service_Section_content h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.service_Section_content p {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1.2rem;
  display: inline-block;
}
@media (max-width: 768px) {
  .service_Section {
    position: relative;
    width: 100%;
    height: 150px; /* Adjust height as needed */
    overflow: hidden;
  }
  .service_Section_content h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }

  .service_Section_content p {
    margin-top: 5px;
    padding: 4px 10px;
    font-size: 0.8rem;
  }
}
.cart-Product-img-container {
  width: 100px;
  height: 100px;
  background-color: #f5f7fa;
  padding: 8px;
  border: 1px solid #ddd;
}

.cart-btn {
  width: 30px;
  height: 30px;
  background-color: #f5f7fa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border: none;
  color: #ed1690;
}
.cart-cross-btn {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border: none;
  color: #fff;
}
.checkout-btn {
  background-color: #5a459c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}
.checkout-btn:hover {
  background-color: #ed1690;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.cart-card {
  background-color: #ebe7f8;
}

.shop-cart-coupon {
  margin-bottom: 25px;
}
.shop-cart-coupon .form-group {
  position: relative;
}
.shop-cart-coupon .form-control {
  box-shadow: none;
  padding: 15px 160px 15px 25px;
  border-radius: 50px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
}
.shop-cart-coupon .theme-btn {
  position: absolute;
  background-color: #ed1690;
  color: #fff;
  border: 1px solid #ed1690;
  right: 5.4px;
  top: 5.4px;
  border-radius: 50px;
  padding: 8px 20px;
}

.cart-header,
.cart-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.cart-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

/* ---cart-Page-End--- */
/* ---Checkout-Page-Start--- */

.add-address-btn {
  color: #5a459c;
  border: none;
  background-color: transparent;
}
.Address-container-first {
  padding: 10px;
  background-color: rgba(237, 22, 144, 0.1);
  color: black;
  border: 1px dotted #ed1690;
}
.Address-container-Second {
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px dotted #ed1690;
}
.Address-delete-btn {
  color: #5a459c;
  border: none;
  background-color: transparent;
  font-weight: 600;
}
/* ---Checkout-Page-End--- */
/* ---Product-Details-Page-Start--- */
.product-image-container {
  max-width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff5722;
}
.thumbnail-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #ebebeb;
}
.thumbnail-image-container img.active {
  border: 1px solid #333e48;
}
.list-group-item {
  border: none;
}
.discount-price {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
.original-price {
  text-decoration: line-through;
  color: gray;
}
.rating i {
  color: gold;
}
.btn-cart {
  background-color: red !important;
  color: white !important;
  font-weight: bold;
}
/* ---Product-Details-Page-End--- */
